// output: index.html
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 自定义滚动条
        style.
            body {
                background: #333;
                color: snow;
            }
            .wrap {
                width: 600px;
                margin: 0 auto;
            }
            .box {
                overflow: hidden;
                box-sizing: border-box;
                height: 180px;
                position: relative;
            }
            .box ul {
                margin: 0;
                padding: 0;
                position: absolute;
                height : 100%;
            }
            .box li{
                text-align: center;
                vertical-align: middle;
                padding: 10px 0;
                float: left;
                list-style: none;
                background: #111;
                width: 150px;
                height: 150px;
                border-radius: 10px;
                white-space: no-wrap;
                margin: 5px;
            }
            .ins {
                border: 1px dashed #ccc;
                padding: 5px;
            }
            .slider {
                width: 100%;
                height: 20px;
                margin-bottom: 10px;
            }
            .slider > div {
                display: inline-block;
            }
            .slider .left {
                float: left;
                background-image: url(img/bar03.gif);
                width: 25px;
                height: 100%;
            }
            
            .sink {
                height: 100%;
                width: 550px;
                background: #000;
                position: relative;
            }
            .slider .bar {
                position: absolute;
                height: 100%;
                width: 150px;
                background: #666;
                border-radius: 10px;
                cursor: e-resize;
            }
            .slider .right {
                float: right;
                background-image: url(img/bar03.gif);
                background-position: top right;
                width: 25px;
                height: 100%;
            }

    body
        .wrap 
            .box
                ul
                    li
                        img(src="img/bar1.jpg")
                        p iphone4
                    li
                        img(src="img/bar2.jpg")
                        p ipad2
                    li
                        img(src="img/bar3.jpg")
                        p ipod touch
                    li
                        img(src="img/bar4.jpg")
                        p ipod touch
                    li
                        img(src="img/bar5.jpg")
                        p ipod touch
                    li
                        img(src="img/bar6.jpg")
                        p ipod touch
                    li
                        img(src="img/bar7.jpg")
                        p ipod touch
                    li
                        img(src="img/bar8.jpg")
                        p ipod touch
                    li
                        img(src="img/bar9.jpg")
                        p mac
                    li
                        img(src="img/bar10.jpg")
                        p macbook    
            .slider
                .left
                .sink
                    .bar
                .right
            .ins
                p 功能说明：
                    ol 
                        li  拖动滚动条，图片列表缓冲滑动至目标点；
                        li  滚动条两端鼠标移入自动滑动；
                        li  滚动条滑动到两端自动更换为停止标识；
                        li  点击滚动条黑色背景区，滚动条及图片列表缓冲滑动至目标点；
                        li  支持键盘左右键；
                        li  支持鼠标滚轮。
        script.
            window.onload = function() {
                g = {
                    imgs : document.querySelectorAll('.box li'),
                    imgsBox : document.querySelector('.box ul'),
                    scrollBar : document.querySelector('.slider .bar'),                    
                    l : document.querySelector('.left'),
                    r : document.querySelector('.right'),
                    startX : 0,
                    percentage : 0,
                    sink : document.querySelector('.sink'),
                    clicked : false,
                    viewport : document.querySelector('.box').offsetWidth
                }
                
                //设置滚动部分的宽度
                function initial(){
                    var width = g.imgs.length * g.imgs[0].clientWidth;
                    g.imgsBox.style.width = width +  'px';
                }
                initial();
                
                
                g.scrollBar.onmousedown = capture;
                function capture(event){
                    g.startX = event.pageX;
                    g.clicked = true;
                    
                }
                
                g.scrollBar.onmousemove = function(){
                    var diff = event.pageX - g.startX;
                    var sinkWidth = g.sink.offsetWidth - g.scrollBar.offsetWidth;
                    g.percentage = diff / sinkWidth;
                    if(g.clicked) {
                        if(diff <= 0) {
                            this.style.left = '-3px';
                        }else if (diff >= sinkWidth) {
                            this.style.left = sinkWidth + 3 + 'px';
                        }else {
                            this.style.left = diff + 'px';
                        }
                    }
                }
                
                //- 释放鼠标，图片列表的left改变;
                g.scrollBar.onmouseup = function() {
                    g.clicked = false;
                    console.log(g.imgsBox.clientWidth);
                    g.imgsBox.style.left = '-' + (g.imgsBox.clientWidth * g.percentage  - g.viewport)+ 'px';
                }
                
                
                //- 更换标识
                function changeFlag(dir,p){
                    if(dir == 'left' && p == 'play'){
                        g.l.style.backgroundPosition == 'top left';
                    }else if (dir == 'left' && p == 'pause') {
                        g.l.style.backgroundPosition == 'bottom left';
                    }else if (dir == 'right' && p == 'play') {
                        g.r.style.backgroundPosition == 'top right';
                    }else if(dir == 'right' && p == 'pause') {
                        g.r.style.backgroundPosition == 'bottom left';
                    }
                }
                
                
                //- 鼠标enter，leave和滚轮共享一个事件
                
                
                //点击sink
                g.sink.onclick = function(event) {
                    var dis = event.pageX - g.sink.offsetLeft;
                    g.imgsBox.style.left = '-' + (dis / g.sink.offsetWidth * g.imgsBox.clientWidth - g.viewport) + 'px' ;
                    var sinkWidth = g.sink.offsetWidth - g.scrollBar.offsetWidth;
                    g.scrollBar.style.left = dis / g.sink.offsetWidth * sinkWidth + 'px'
                }
            }
            
