
h1 {
    margin: 100px auto;
    text-align: center;
    font-size: 4em;
    color: rgb(80, 201, 34);
}



@-webkit-keyframes bounce {
    0%,50%,100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    25%,75%{
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }

}



@keyframes bounce {
    0%,50%,100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    25%,75%{
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }

}

/*completed*/
.shake {
    -webkit-animation-name: shake;
            animation-name: shake;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 0.15s;
            animation-duration: 0.15s;
    -webkit-animation-iteration-count: 3;
            animation-iteration-count: 3;
}

@-webkit-keyframes shake {
    50%,from,to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    25% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    75% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }

}

@keyframes shake {
    50%,from,to {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    25% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    75% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }

}


/*completed*/
.swing {
    -webkit-animation-name: swing;
            animation-name: swing;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
}
@-webkit-keyframes swing {
    10%,50%,90% {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
    }
    30%,70%{
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
    }
    from,to,20%,40%,60%,80% {
        -ms-transform: rotate(0deg);        -webkit-transform: rotate(0deg);        transform: rotate(0deg);
    }
}
@keyframes swing {
    10%,50%,90% {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
    }
    30%,70%{
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
    }
    from,to,20%,40%,60%,80% {
        -ms-transform: rotate(0deg);        -webkit-transform: rotate(0deg);        transform: rotate(0deg);
    }
}



.tada {
    -webkit-animation-name: tada;
            animation-name: tada;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
}
@-webkit-keyframes tada {
    from{
        -webkit-transform: rotate(-20deg) scale(0.9);
                transform: rotate(-20deg) scale(0.9);
    }
    10%,50%,90% {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
    }
    30%,70%{
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
    }
    to,20%,40%,60%,80% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
@keyframes tada {
    from{
        -webkit-transform: rotate(-20deg) scale(0.9);
                transform: rotate(-20deg) scale(0.9);
    }
    10%,50%,90% {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
    }
    30%,70%{
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
    }
    to,20%,40%,60%,80% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
