---
layout: default
---

{% for post in paginator.posts %}
<article class="preview-article">
    <h2 class="preview-article-title">
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </h2>
    <p class="preview-article-info">
        Posted on{{ post.date | date:"%B %-d %Y"}}
    </p>
    <p class="preview-article-description">{{ post.description}}</p>
</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
    <div class="change-page">
    {% if paginator.previous_page %}
    <div class="previous">
        <a href="{{ paginator.previous_page_path }}"> Newer... </a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="next">
        <a href="{{ paginator.next_page_path  }}">Older...</a>
    </div>
    {% endif %}
</div>
{% endif %}
