// output: index.html
<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 鼠标移入，改变透明度
    style.
        ul {
            width: 650px;
            margin: 0 auto;
            border: 1px solid #ccc;
            padding: 5px;
            overflow: hidden;
        }
        li {
            border: 1px solid #ddd;
            list-style: none;
            float: left;
            opacity: 0.5;
        }
        li:hover {
            opacity: 1;
        }
body
    ul.brandlist
        - var i = 0
        while i < 10
            li 
                img(src="img/#{++i}.jpg")
