*,
*:before,
*:after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,body,html,ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
body {
font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
/*preset*/
body {
    background:linear-gradient (to right, rgba(210,255,82,1) 0%, rgba(210,255,82,1) 23%, rgba(145,232,66,1) 86%, rgba(145,232,66,1) 100%);
    background: #ccc;
}

.container {
    position: relative;
    width: 600px;
    margin: 0 auto;
    margin-top: 10%;
    border: 1px solid #333;
    height: 200px;
    background: #fff;
}

input {
    display: none;
}
label {
    line-height: 2em;
    height: 2em;
    cursor: pointer;
    float:left;
    text-align: center;
    display: inline-block;
    width: 20%;
    background: tomato;
    border-right: 2px solid #fff;

}
[class*=tab] {
    display: none;
    position: absolute;
    top:2em;
}


input:checked + div {
    display: block;
    padding: 10px;
}
