//output: index.html
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/shadow.min.css")
        title Shadows
    body
        .wrap
            .shadow.shadow-1 shadow1
            .shadow.shadow-2 shadow2
            .shadow.shadow-3 shadow3
            .shadow.shadow-4 shadow4
            .shadow.shadow-5 shadow5
            .shadow.shadow-6 shadow6
            .shadow.shadow-7 shadow7
            .shadow.shadow-8 shadow8
            .shadow.shadow-9 shadow9
            .shadow.shadow-10 shadow10
