*,
*:after,
*:before {
    box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p,
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
//*** preset ***//
html {
    height: auto;
}
body {
    max-width: 1368px;
    margin: 0 auto;
    height: 100%;
    padding: 50px;
    background: linear-gradient(to bottom right,rgb(236, 89, 26),rgb(207, 192, 57)) no-repeat;
}
[class*="item"] {
    margin: 30px auto;
    height: 300px;
    width: 100%;
}
//*** item1 ***//
.item1 {
    background: linear-gradient(to bottom right,rgb(236, 89, 26),rgb(207, 192, 57));
    display: flex;
    justify-content: center;
    align-items: center;
    & > ul {
        text-align: center;
        width: 340px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.3em;
        height: 65px;
        line-height: 65px;
        background: #333333;
        color: rgba(95, 95, 95, 1);
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.4);
        cursor: pointer;
        & > li {
            position: relative;
            width: 25%;
            height: 100%;
            vertical-align: middle;
            &:hover {
                background: #444;
            }
            & > span {
                line-height: 65px;
                display: inline-block;
                width: 100%;
                height: 100%;
            }
        }
    }
}
.notifications {
    position: absolute;
    top: -180%;
    left: -60%;
    display: none;
    background: #0097A7;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-radius: 4px;
    width: 180px;
    color: #fff;
    font-size: 0.8em;
    position: relative;
    &:after {
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #0097A7;
        width: 0;
        height: 0;
        content: "";
        top: 100%;
        left: 50%;
    }
    .fa span {
        margin-left: 7px;
    }
}
// js class
li.js-clicked {
    border-bottom: 3px solid #00ffff;
    background: #222222;
    color: rgba(255,255,255,1);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4);
    transition: all 200ms ease-in-out;
    &:hover {
        background: #222222 !important;
    }
    .notifications {
        display: flex;
        animation: note 800ms ease-in-out;
        transform-origin: center 60px;
    }
}
@keyframes note {
    0% {
        opacity: 0;
        transform: scale(0.1) rotate(30deg) translateY(50px) rotateX(90deg);
    }
    50% {
        transform: rotate(-10deg) rotateX(-2deg);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
// item2
.item2 {
    background: linear-gradient(to bottom right,rgb(207, 192, 57),rgb(236, 89, 26)) no-repeat;
    padding-top: 100px;
    text-align: center;
    position: relative;
    & > a {
        color: snow;
        text-transform: uppercase;
        display: block;
        height: 40px;
        margin: 0 auto;
        width: 200px;
        border: 1px solid rgba(238, 238, 238, 0.8);
        transition: all 300ms ease-in-out;
        padding: 10px 0;
        &:hover {
            border: 1px solid rgba(238, 238, 238, 1);
            background: rgba(0,0,0,0.3);
            border: 1px solid transparent;
            transition: all 300ms ease-in-out;
            transform: scale(1.3);
        }
    }
    .dialog-overlay,
    .dialog-wrapper {
        z-index: 9999;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .dialog-wrapper {
        position: fixed;
        display: none;
    }
    .dialog-overlay {
        position: absolute;
        z-index: 9999;
        background: rgba(#141614, 0.79);
        opacity: 0;
        transition: all 1s ease-in;
    }
    .dialog-content {
        z-index: 9999;
        box-shadow: 1px 1px 20px rgba(0,0,0,0.5),-1px -1px 20px rgba(0,0,0,0.5);
        position: absolute;
        top: calc(50% - 150px);
        left: calc(50% - 200px);
        width: 400px;
        height: 300px;
        background: snow;
        padding: 20px;
        animation: bounce 800ms linear;
        span {
            position: absolute;
            right: 20px;
            top: 10px;
            font-size: 1.5em;
            cursor: pointer;
        }
        h2 {
            margin: 50px auto;
        }
        a {
            display: block;
            line-height: 40px;
            border: 0;
            margin: 0 auto;
            width: 150px;
            height: 40px;
            background: #a24943;
            color: snow;
            font-size: 1.5em;
            cursor: pointer;
        }
    }
}
@keyframes bounce {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

// item2 js class
.show-dialog {
    display: flex !important;
    .dialog-overlay {
        opacity: 1 !important;
    }
}

// item3 part
.item3 {
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    svg {
        height: 80px;
        .apple {
            fill: white;
        }
    }
    .process {
        margin-top: -30px;
        background: rgba(white,0.5);
        width: 400px;
        height: 4px;
        position: relative;
        z-index: 0;
        &:after {
            content: '';
            background: white;
            position: absolute;
            // width: 100%;
            height: 100%;
            animation: loading 10s linear;
            animation-fill-mode: forwards;
        }
    }
}
@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
//item4 part
.item4 {
    width: 100%;
    height: 300px;
    background: linear-gradient(to right top,rgb(75, 193, 40),rgb(187, 186, 19));
    position: relative;
    z-index: 0;
    // from menu-toggle folder
    .toggle-1 {
        position: absolute;
        z-index:1000;
        top: 20px;
        left: 20px;
        width: 40px;
        height: 30px;
        cursor: pointer;
        transition: all 800ms ease-in-out;
        .bar-1,
        .bar-2,
        .bar-3 {
            width: 100%;
            height: 4px;
            background: #fff;
            position: absolute;
            border-radius: 3px;
            transition: all 300ms ease-in-out;
        }
        .bar-2 {
            top: 10px;
        }
        .bar-3 {
            top: 20px;
        }
    }

    // menu-1 part
    .menu-1 {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
        .menu-1-overlay {
            position: absolute;
            z-index: 999;
            width: 100%;;
            height: 100%;
            background: rgba(0,0,0,0);
            transition: background 500ms ease-in-out;
        }
        .menu-1-conent {
            position: absolute;
            top: 0;
            left:0;
            width: 150px;
            background: snow;
            height: 100%;
            text-align: center;
            padding: 50px 5px;
            transform: translateX(-150px);
            li {
                text-transform: uppercase;
                width: 100%;
                height: 40px;
                a {
                    display: blcok;
                    width: 100%;
                    height: 100%;
                    &:hover {

                    }
                    span {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .article{
        color: snow;
        text-align: center;
        padding: 60px;
        p {
            overflow: hidden;
            margin:20px auto;
            width: 60%;
        }
    }
}


/*toggled*/
.item4.toggle-1-activate {
    .toggle-1 {
        transform: translateX(150px);
        .bar-1 {
            transform: rotate(45deg) translateY(15px);
        }
        .bar-2 {
            display: none;
        }
        .bar-3 {
            transform: rotate(-45deg) translateY(-15px);
        }
    }

    .menu-1 {
        display: block;
        .menu-1-overlay {
            transition: background 1s ease-in-out;
            background: rgba(0,0,0,0.5);
        }
        .menu-1-conent {
            transform: translateX(0);
            transition: transform 300ms ease-in-out;
        }
    }
}

.item5 {
    background: linear-gradient(to right bottom,rgb(249, 96, 148),rgb(44, 149, 152));
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    .nav {
        width: 60%;
        margin: 0 auto;
    }
    ul {
        width: 100%;
        display: flex;
        height: 70px;
        position: relative;
        background: #233;
        .slider {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 25%;
            height: 100%;
            background: rgb(163, 19, 181);
            box-shadow: 0 0 20px rgba(0,0,0,0.4);
            transition: all 0.3s ease-in-out;
        }
    }
    li:not(.slider) {
        position: relative;
        z-index: 1;
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

$nav: rgb(163, 19, 181),rgb(91, 88, 223),rgb(18, 204, 215),rgb(222, 172, 44);
@for $i from 1 through 4 {
    li:nth-child(#{$i}):hover {
        & ~ .slider {
            left: 25% * $i - 25%;
            background: nth($nav,$i);
            // changebackground for each tab
        }
    }
}



// item 6-clock
.item6 {
  height: 500px;
  background: linear-gradient(to right bottom,#fff 10%,#999);
  font-size: 1.2em;
  color: #233;

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 300px;
  height: 300px;
  background: snow;
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: 20px 27px 60px rgba(#000,0.3),inset 1px 1px 10px rgba(#000,0.1);
  position: relative;
}


.hour {
  width: 5px;
  height:60px;
  background:  #6B5F53;
  position: absolute;
  top: calc(50% - 2.5px);
  left: 50%;
  border-radius: 0 0 3px 3px;
  transform-origin: top center;
  animation: rotate 216000s infinite linear;
}
.minute {
  width: 5px;
  height: 95px;
  background:  #6B5F53;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top center;
  border-radius: 0 0 3px 3px;
  animation: rotate 3600s infinite linear;
}
.second {
  width: 5px;
  height: 110px;
  background:  #d08977;
  position: absolute;
  top: 50%;
  left: calc(50% - 2.5px);
  transform: rotate(-180deg);
  transform-origin: top center;
  z-index: 10;
  border-radius: 0 0 3px 3px;
  animation: rotate 60s infinite linear;
}
.sec-tap {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #d08977;
      position: absolute;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      animation: rotate 60s infinite linear;

  }
.center {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:  #6B5F53;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}



.tweleve {
    position: absolute;
    left: 50%;
    margin-left: -0.6em;
    top: 1%;
}
.three {
    position: absolute;
    right: 2%;
    top: 50%;
    margin-top: -0.6em;
}
}
