// output: index.html
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 事件练习,封装兼容性添加,删除事件的函数
    body(style="text-align: center")
        input(type="button" value="毫无用处的按钮")
        input(type="button" value="绑定click")
        input(type="button" value="解除绑定")
        
        script.
            //- window.onload = function() {
            //-     var btns = document.getElementsByTagName('input');
            //-     
            //-     btns[1].onclick = function(){
            //-         btns[0].value = btns[0].value.replace('毫无用处的按钮','我可以点击了');
            //-         btns[0].onclick = clickable;
            //-     }
            //-     
            //-     btns[2].onclick = function(){
            //-         btns[0].value = btns[0].value.replace('我可以点击了','毫无用处的按钮');
            //-         btns[0].onclick = null;
            //-     }
            //-     
            //-     function clickable(){
            //-         alert('事件绑定成功');
            //-     }
            //-     
            //- }
            //- 以上是现代浏览器 版
            
            window.onload = function(){
                var EventUtil = {
                    addHandler : function(element,type,handler)
                    {
                        if(element.addEventListener) {
                            element.addEventListener(type,handler);
                        }else if(element.attachEvent) {
                            element.attachEvent('on' + type,handler,false);
                        }else {
                            element['on' + type] = handler;
                        }
                        
                    },
                    
                    removeHandler: function(element,type,handler)
                    {
                        if(element.removeEventListener) {
                            element.removeEventListener(type,handler,false);
                        }else if(element.attachEvent) {
                            element.detachEvent('on' + type,handler);
                        }else {
                            element['on' + type] = null;
                        }
                    }
                }
                
                
                var btns = document.getElementsByTagName('input');
                
                function clickable() {
                    btns[0].value = btns[0].value.replace('毫无用处的按钮','我可以点击了');
                    EventUtil.addHandler(btns[0],'click',tip)
                }
                
                function  tip(){
                    alert('事件绑定成功');
                }
                
                function unclickable() {
                    btns[0].value = btns[0].value.replace('我可以点击了','毫无用处的按钮');
                    EventUtil.removeHandler(btns[0],'click',tip)
                }

                
                EventUtil.addHandler(btns[1],'click',clickable);
                EventUtil.addHandler(btns[2],'click',unclickable);
            }
