/* smaller than 1200px*/
@media (max-width:1200px) {
      .wrap {
           width: 990px;
      }

    /*   devices part*/
    .devices-container {
        .platform {
            .type{
                width: 60%;
                height: 70px;
                -webkit-flex-direction: column;
                   -moz-box-orient: vertical;
                   -moz-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-justify-content: space-between;
                   -moz-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                ul {
                    display: -webkit-flex;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-justify-content: space-around;
                        -ms-flex-pack: distribute;
                            justify-content: space-around;
                }
            }
        }
    }
  }


/* smaller than 992px*/
@media (max-width: 992px) {
   .wrap {
       width: 768px;
   }
   /* feature part*/
   .features {
       height: 1178px;
   }
    .features-container {
        .ablums {
            width: 280px;
            height: 800px;
            .ablum {
                width: 100%;
                height: 33.333333%;
            }
            .ablum-4 {
                display: none;
            }
        }

        .what-on {
            width: 60%;
        }
    }


    /* .footer part*/
    .footer {
        height: 597px;
    }
    .footer-nav {
        height: 80%;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-align-content: space-around;
            -ms-flex-line-pack: distribute;
                align-content: space-around;
        .logo {
            -webkit-flex: 1 1 100%;
               -moz-box-flex: 1;
                -ms-flex: 1 1 100%;
                    flex: 1 1 100%;
            width: 100%;
        }
        .company,.company,.communities,.useful-links {
        -webkit-flex: 0 1 33%;
           -moz-box-flex: 0;
            -ms-flex: 0 1 33%;
                flex: 0 1 33%;
        }
        .social {
            -webkit-flex: 0 1 100%;
               -moz-box-flex: 0;
                -ms-flex: 0 1 100%;
                    flex: 0 1 100%;
            margin-right: 100%;
        }
    }
    .copyright {
        .law {
            margin-left: 0;
        }
    }
}

/* smaller than 768px*/
@media (max-width: 769px) {
   .wrap {
       width: 100%;
   }
   .features {
       height: 1440px;
   }
   .features-container {
       -webkit-flex-direction: column;
          -moz-box-orient: vertical;
          -moz-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
       -webkit-justify-content: space-around;
           -ms-flex-pack: distribute;
               justify-content: space-around;
       .ablums {
           -webkit-order: 1;
              -moz-box-ordinal-group: 2;
               -ms-flex-order: 1;
                   order: 1;
           margin: 0 auto;
           width: 95%;
           margin-bottom: 100px;
           .ablum {
               width: 50%;
               height: 50%;
           }
           .ablum-4 {
               display: block;
           }
       }
       .what-on {
           width: 100%;
       }
   }

    /* function  part*/
    .function {
        height: 1120px;
    }
    .function-container {
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        .easy {
            width: 90%;
        }
        .iphones {
            overflow: hidden;
            .iphone {
                width: 179px;
                height: 365px;
                background-size: cover;
                -webkit-transform: none;
                    -ms-transform: none;
                        transform: none;
            }
            .iphone-1 {
                -webkit-transform: rotate(30deg) translate(50px,60px);
                    -ms-transform: rotate(30deg) translate(50px,60px);
                        transform: rotate(30deg) translate(50px,60px);
                img{
                    width: 88%;
                    top: 40px;
                    left: 10px;
                }
            }
            .iphone-2 {
                -webkit-transform: rotate(30deg) translate(255px,-130px);
                    -ms-transform: rotate(30deg) translate(255px,-130px);
                        transform: rotate(30deg) translate(255px,-130px);
                img{
                    width: 88%;
                    top: 40px;
                    left: 10px;
                }
            }
            .iphone-3 {
                -webkit-transform: rotate(30deg) translate(255px,260px);
                    -ms-transform: rotate(30deg) translate(255px,260px);
                        transform: rotate(30deg) translate(255px,260px);
                img{
                    width: 88%;
                    top: 40px;
                    left: 10px;
                }
            }
            .iphone-4 {
                -webkit-transform: rotate(30deg) translate(455px,100px);
                    -ms-transform: rotate(30deg) translate(455px,100px);
                        transform: rotate(30deg) translate(455px,100px);
                img{
                    width: 88%;
                    top: 40px;
                    left: 10px;
                }
            }
        }
    }


   /* footer part*/
   .footer-nav {
       .company,.comunities {
           -webkit-flex: 1 1 50%;
              -moz-box-flex: 1;
               -ms-flex: 1 1 50%;
                   flex: 1 1 50%;
       }
       .useful-links {
           -webkit-flex: 0 1 100%;
              -moz-box-flex: 0;
               -ms-flex: 0 1 100%;
                   flex: 0 1 100%;
           display: -webkit-flex;
           display: -moz-box;
           display: -ms-flexbox;
           display: flex;
           -webkit-flex-direction: column;
              -moz-box-orient: vertical;
              -moz-box-direction: normal;
               -ms-flex-direction: column;
                   flex-direction: column;
       }
   }


   /* devices part*/
   .devices-container {
       .platform {
           .type{
               width: 85%;
               -webkit-justify-content: space-around;
                   -ms-flex-pack: distribute;
                       justify-content: space-around;
               -webkit-flex-direction: row;
                  -moz-box-orient: horizontal;
                  -moz-box-direction: normal;
                   -ms-flex-direction: row;
                       flex-direction: row;
               ul{
                   display: block;
               }
               li {
                   display: list-item;
               }
               .gap {
                   visibility: hidden;
               }
            /*    ul {*/
            /*        display: flex;*/
            /*        justify-content: space-around;*/
            /*    }*/
           }
       }
   }
}
