body {
  height: 100vh;
  background: -webkit-linear-gradient(left top, #ccc 10%, #999);
  background: linear-gradient(to right bottom, #ccc 10%, #999);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 210px;
  height: 140px;
  position: relatvie;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#carousel {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  transition: 1s transform;
  border: 1px solid #111;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

figure {
  margin: 0;
  position: absolute;
  width: 186px;
  height: 116px;
  left: 10px;
  top: 10px;
  border: 2px solid black;
  opacity: 0.7;
  text-align: center;
  line-height: 116px;
  color: snow;
  font-size: 4em;
}

figure:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(288px);
          transform: rotateY(0deg) translateZ(288px);
  background: #5d8aa8;
}

figure:nth-child(2) {
  -webkit-transform: rotateY(40deg) translateZ(288px);
          transform: rotateY(40deg) translateZ(288px);
  background: #f0f8ff;
}

figure:nth-child(3) {
  -webkit-transform: rotateY(80deg) translateZ(288px);
          transform: rotateY(80deg) translateZ(288px);
  background: #e32636;
}

figure:nth-child(4) {
  -webkit-transform: rotateY(120deg) translateZ(288px);
          transform: rotateY(120deg) translateZ(288px);
  background: #efdecd;
}

figure:nth-child(5) {
  -webkit-transform: rotateY(160deg) translateZ(288px);
          transform: rotateY(160deg) translateZ(288px);
  background: #e52b50;
}

figure:nth-child(6) {
  -webkit-transform: rotateY(200deg) translateZ(288px);
          transform: rotateY(200deg) translateZ(288px);
  background: #ffbf00;
}

figure:nth-child(7) {
  -webkit-transform: rotateY(240deg) translateZ(288px);
          transform: rotateY(240deg) translateZ(288px);
  background: #9966cc;
}

figure:nth-child(8) {
  -webkit-transform: rotateY(280deg) translateZ(288px);
          transform: rotateY(280deg) translateZ(288px);
  background: #a4c639;
}

figure:nth-child(9) {
  -webkit-transform: rotateY(320deg) translateZ(288px);
          transform: rotateY(320deg) translateZ(288px);
  background: #915c83;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
a {
  display: inline-block;
  width: 80px;
  height: 40px;
  color: snow;
  background: tomato;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}
a:hover {
  -webkit-animation: hover 0.15s 3 ease-in-out;
          animation: hover 0.15s 3 ease-in-out;
}

.stop {
  -webkit-animation-play-state: running !important;
          animation-play-state: running;
}

@-webkit-keyframes hover {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@keyframes hover {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}
