// output: index.html
<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 复选框(checked) 全选/全不选/反选
    style.
        .container {
            padding: 10px;
            width: 150px;
            border: 1px solid #000;
            border-radius: 5px;
            margin: 0 auto;
        }
        a {
            margin-left: 10px;
        }
        .info {
            text-align: center;
        }
body
    .container
        header
            input(type="checkbox")
            label 全选
            a(href="javascript:;") 反选
        hr
        main
            p    
                input(type="checkbox" name="checkbox" ) 
                label(for="one") 选项（一）
            p    
                input(type="checkbox" name="checkbox" ) 
                label(for="two") 选项（二）
            p    
                input(type="checkbox" name="checkbox") 
                label(for="three") 选项（三）
            p    
                input(type="checkbox" name="checkbox") 
                label 选项（四）
            p    
                input(type="checkbox" name="checkbox") 
                label 选项（五）
            p    
                input(type="checkbox" name="checkbox") 
                label 选项（六）
            p    
                input(type="checkbox" name="checkbox") 
                label 选项（七）
            p    
                input(type="checkbox" name="checkbox") 
                label 选项（八）
            p    
                input(type="checkbox" name="checkbox") 
                label 选项（九）
            p    
                input(type="checkbox" name="checkbox") 
                label 选项（十）
    p.info 1、切换全选/全不选文字；2、根据选中个数更新全选框状态；
    script.
        window.onload = function(){
            var checkboxes = document.getElementsByName('checkbox');    /*取得对所有checkbox的引用*/
            var allCheck = document.querySelectorAll('header input')[0];   /*取得对全选框的引用*/
            var allCheckLabel = document.querySelector('header label');   /*取得对全选框文字的引用*/
            var unCheckLink =  document.querySelector('header a');
            
            allCheck.onclick =  checkAll;  /*为全选框绑定全选事件*/
            //- unCheckLink.onclick = unCheck;
            
            function checkAll(){
                for(var i in checkboxes){
                    item = checkboxes[i];
                    if (allCheck.checked) {  
                        item.checked = true;
                        allCheckLabel.innerText  = '全不选';
                    }else {
                        item.checked = false;
                        allCheckLabel.innerText  = '全选';    
                    }
                }
            }
            
            function unCheck() {
                console.log(checkboxes);
                var un = checkboxes.filter(function(item,index) {
                    return item.checked == true;
                });
                console.log(un);
            }
            
            
            
            //- function filterNode(nodeList){
            //-     for(var i in 0)
            //- }
        }
